@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:900|Roboto&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #222;
  line-height: 1.5;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

#top {
  max-width: 970px;
	margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-gap: 10px;
}

h2 {
  margin-top: 0;
}

header {
  text-align: center;
}

header,
nav,
footer {
  background-color: #FFFFFF;
}

header, footer {
  padding-left: 20px;
  grid-column: 1 / -1 ;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Work1"
    "Work2"
    "Work3";
  grid-gap: 30px;
}

#work1, #work2, #work3 {
  text-align: center ;
}

.imagespage1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Work1"
    "Work2"
    "Work3";
  grid-gap: 30px;
}

#textpage1 {
  text-align: center ;
}

.imagespage2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Work1"
    "Work2"
    "Work3";
  grid-gap: 30px;
}

#textpage2 {
  text-align: center ;
}

.imagespage3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Work1"
    "Work2"
    "Work3";
  grid-gap: 30px;
}

#textpage3 {
  text-align: center ;
}

#about {
  position: absolute;
  top: 240px;
  left: 700px;
margin-right: 200px
}

#skills {
  position: absolute;
  top: 400px;
  left: 700px;
margin-right: 200px
}

#skills > span {
  display: inline-block;
  width: 100px;
}

.expert::after {
  content: "🔹🔹🔹🔹";
}

.advanced::after {
  content: "🔹🔹🔹";
}

.intermediate::after {
  content: "🔹🔹";
}

.beginner::after {
  content: "🔹";
}

#personalskills {
  position: absolute;
  top: 600px;
  left: 700px;
margin-right: 200px
}

#personalskills > span {
  display: inline-block;
  width: 100px;
}

.expert::after {
  content: "🔹🔹🔹🔹";
}

#box03, #box04, #box05, #box07 {
  background-color: #FFFFFF;
  border-left: 1px solid rgb(0,0,0);
  border-right: 1px solid rgb(0,0,0);
  border-top: 1px solid rgb(0,0,0);
  border-bottom: 1px solid rgb(0,0,0);

  margin-bottom: 10px;
}

#box08 {
    background-color: #D3D3D3;
    margin: 0px 50px 0 50px;
}

 #contactme {
  text-align: center;
  }

  #contactme {
    position: relative;
    top: 40px;
    left: 370px;
  margin-right: 100px;
  margin-bottom: 200px;
  }
